.navbar {
    height:100px;
}

.navbar-brand {
    font-size:25px;
    font-weight:bold;
    padding:40px 50px;
}

.nav>li>a {
    padding:40px 60px 40px 0px;

}

#footer {
    height:50px;
    background-color:#e7e7e7;
}
