#iftaHeader {
    Height:100px;
    padding-bottom:2px;
}

#iftaHeaderLeft {
    float: left;
    background-color: white;
    height: 100%;
}

#iftaHeaderRight {
    background-color: #E30017;
    height: 100%;
}

#topbar {
    height: 25px;
    background-color: black;
}

#topbarLeft {
    padding-left: 170px;
}

#topbarLeft, #topbarMid, #topbarRight {
    height: 100%;
}

a {
    color: #FFFFFF;
    font-weight: bold;
    font-size: 15px;
}

a:hover {
    color: #FFFFFF;
    font-weight: bold;
    font-size: 15px;
    text-decoration: underline;
}

.toolbar_menu_label {
    float: right;
    text-align: right;
    color: lightGrey;
    font-weight: bold;
    font-size: 15px;
    padding: 0px 10px;
}

#subMenu {
    height: 40px;
    line-height: 40px;
    background-color: #F2F2F2;
    border-bottom: 1px solid lightGrey;
}

#subMenu span {
    vertical-align: middle;
    color: #333333;
    font-size: 15px;
    font-weight: bold;
}

.navLeft {
    line-height:50px;
    list-style-type: none;
    padding-top: 15px;
    padding-left: 15px;
}

.navLeft li {
    font-size:15px;
    counter-increment: step-counter;
}

.navLeft li::before {
    content: counter(step-counter);
    margin-right: 10px;

    border-radius: 50%;
    -moz-border-radius: 50%;
    padding: 5px 10px;

    background-color: #837E7C;
    color:#000000;
    text-align:center;

    font-weight: bold;
}

.iftaContainer {
    padding-top: 30px;
    border-left: 1px solid lightGrey;
}

.form-control {
    padding:6px;
}

.control-label {
    text-align: left !important;
}

.message-general-warning {
    font-weight: bold;
    color: #A74426;
    display:inline-block;
}

.btn-default {
    background-color: #CCCCCC;
    border: 1px solid #999999;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    font-size: 12px;
    color: #000;
    min-width: 75px;
}

.btn-default:hover {
    background-color: #666666;
    border: 1px solid #333333;
    color: #FFF;
}

.btn-primary {
    background : #3866AB;
    border-radius : 3px;
    -moz-border-radius : 3px;
    -webkit-border-radius : 3px;
    font-size: 12px;
    color: #FFF;
    min-width: 75px;
}

.btn-primary:hover {
    background : #383838;
}

.tips {
    float:right;
    margin: 30px 20px 0px 0px;
    padding: 10px;
    min-height: 300px;
    border-radius: 6px;
    border: 2px solid #FFD86E;
    background-color: #FFF9E8;
}

.footer {
    position: absolute;
    bottom: 20px;
    left: 0;
    width: 100%;
    vertical-align: bottom;
    height: 40px;
    line-height: 40px;
    background-color: #383838;
}

#footer{
    float: right;
    vertical-align: middle;
    padding-right: 20px;
}

.row {
    margin-bottom: 40px;
}

body, html {
    height:100%;
}

hr {
    border-bottom: 1px solid lightGrey;
}


table, th, td {
    padding:5px 10px;
    border: 1px solid #CCCCCC;
}



.lable-default {
    float:left;
    font-weight: normal;
}

.headColor {
    background-color: #E8E8E8;
}

.bodyColorOdd {
    background-color: #F8F8F8;
}

.footColor {
    background-color: #F0F0F0;
}

.input-right {
    text-align: right;
    width: 150px;
}